@font-face {
  font-family: "VisbyCF-Regular";
  src: url("/fonts/VisbyCF-Regular.otf");
}

.font-visby {
  font-family: "VisbyCF-Regular";
}

.shadow-g {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.shadow-md {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.w-full {
  width: 40rem;
}

.upload__image-wrapper {
  /* position: relative; */
  color: black !important;
  border: 2px dashed #555;
  cursor: pointer;
  padding: 20px;
  width: auto !important;
  height: auto !important;
  display: flex !important;
  gap: 10px;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgb(248 250 252);
  border-radius: 10px;
  border-radius: 1rem;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.file_selector_button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.file_selector_button:hover {
  background: #0d45a5;
}

.file_selector_button_remove {
  margin-right: 20px;
  border: none;
  background: #ff4742;
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.file_selector_button_remove:hover {
  background: #ee2923;
}

.file_selector_button_upload {
  width: 7rem;
}

.drop-title {
  color: #444;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}
.drop-sub-title {
  color: #444;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

/* .drop-container:hover {
  background: #eee;
    border-color: #111;
} */

.drop-container:hover .drop-title {
  color: #222;
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rounded-md {
  border-radius: 10px;
}
.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.25rem;
  margin: 0 10px;
  padding: 10px 0;
}

.imageCard {
  grid-column: span 3 / span 3;
  border-radius: 10px;
  overflow: hidden;
  height: 12rem;
}
.videoCard {
  grid-column: span 4 / span 4;
  border-radius: 10px;
  overflow: hidden;
  height: 15rem;
}
.reelCard {
  grid-column: span 4 / span 4;
  border-radius: 10px;
  overflow: hidden;
  height: 25rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

.upload__video_wrapper {
  /* position: relative; */
  color: black !important;
  border: 2px dashed #555;
  cursor: pointer;
  padding: 20px;
  width: auto !important;
  height: auto !important;
  display: flex !important;
  gap: 10px;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgb(248 250 252);
  border-radius: 10px;
  border-radius: 1rem;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.title-theme {
  color: #444;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  transition: color 0.2s ease-in-out;
}
.sub-title-theme {
  color: #444;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  transition: color 0.2s ease-in-out;
}
.theme-card {
  border-radius: 8px;
  padding: 15px 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 70%;
}
.settings-card {
  border-radius: 8px;
  padding: 15px 15px;
  margin: 8px 0px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 1.25rem;
  align-items: center;
}
.setting-toggle {
  grid-column: span 4 / span 4;
}
.setting-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bg-slate-50 {
  background-color: rgb(248 250 252);
}
.setting-comp {
  border-radius: 8px;
  padding: 15px 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 70%;
}
.width-event-container {
  width: 70%;
}
.dzu-dropzone {
  height: 14rem;
  border-style: dashed !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  align-items: end !important;
  /* justify-content: space-between; */
  padding: 20px !important;
}
div progress {
  border-radius: 10px !important;
  overflow: hidden !important;
  background-color: red !important;
}
.dzu-inputLabel {
  padding: 60px !important;
  text-align: center;
  color: black !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.dzu-submitButton {
  background-color: #1a5ca4 !important;
  font-weight: 600 !important;
  padding: 8px 18px !important;
  border-radius: 5px !important;
}

.dzu-submitButton:disabled {
  background-color: #e6e6e6 !important;
  color: #333333 !important;
}
.dropzone-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.dropzone-upload-text {
  color: rgb(67 56 202);
  font-weight: 600;
}
.dropzone-excel-icon {
  position: absolute;
  top: 8rem;
  height: 5rem;
  width: 5rem;
}
.add-event-btn {
  color: rgb(67 56 202);
  display: flex;
  align-items: "center";
  justify-content: flex-end;
  order: end;
  padding: 2px 8px;
  cursor: pointer;
  font-weight: 500;
}
.add-event-btn:hover {
  color: rgb(46, 31, 214);
  text-decoration: underline;
}
.plan-upgrade-card {
  border-radius: 5px;
  padding: 15px;
  margin: 8px 0px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plan-upgrade-title {
  color: rgb(67 56 202);
  font-size: 1.5rem;
  font-weight: 700;
}
.plan-upgrade-price {
  color: rgb(67 56 202);
  font-size: 1.5rem;
  font-weight: 700;
}
.plan-upgrade-space {
  color: rgb(67 56 202);
  font-size: 1rem;
  font-weight: 600;
}
.plan-upgrade-points {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(67 56 202);
  font-weight: 600;
  font-size: 12px;
}
.my-plan-quote {
  display: flex;
  flex-direction: column;
  background-color: #8f00ff;
  width: 30%;
}
.plan-text-light {
  font-size: 2rem;
  color: white;
}
.plan-text-light-bold {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
.plan-text-dark {
  font-size: 2rem;
  color: black;
}
.plan-text-dark-bold {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.plan-content {
  font-weight: 600;
  color: white;
}
.plan-title {
  font-weight: 900;
  font-size: 1rem;
}
/* color palette */

.custom-layout {
  width: 25% !important;
  height: 4rem !important;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10px !important; */
}
.rcp-saturation {
  height: 150px !important;
}
.rcp-body {
  background-color: white !important;
}
.rcp-field-input {
  color: black !important;
  font-weight: 500 !important;
}
.rcp-field-label {
  font-weight: 500 !important;
}
.rcp-saturation-cursor {
  width: 14px !important;
  height: 14px !important;
}
.rcp-hue {
  height: 6px !important;
}
.rcp-hue-cursor {
  width: 14px !important;
  height: 14px !important;
}
/* Image uploader */
.upload__image-wrapper {
  border: 2px dashed !important;
  border-color: rgb(209 213 219) !important;
  display: flex !important;
  flex-direction: row !important;
  height: 20rem !important;
  background-color: transparent !important;
  width: 100% !important;
  margin-left: 1rem !important;
}
.image-item {
  position: relative !important;
}
.upload_image_container {
  display: flex !important;
  align-items: center !important;
  gap: 16px !important;
}
.image-item__btn-wrapper {
  position: absolute !important;
  top: 0 !important;
  bottom: 200px !important;
  left: 120px !important;
  /* left: 0 !important; */
  display: flex !important;
  align-items: center !important;
  gap: 3px !important;
}
.image_upload_delete {
  border-radius: 100% !important;
  background-color: #ff4742;
  color: white !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  text-align: center !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.image_upload_edit {
  border-radius: 100% !important;
  background-color: #1f25c5;
  color: white !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  text-align: center !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.image_upload_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border: none;
  background-color: #ffffff;
}

/* Landing page css below */
.feature-heading {
  margin-left: 17vw;
}

.feature-headingTwo {
  margin-left: 17vw;
  margin-bottom: 3vh;
}

.feature-body {
  margin-left: 17vw;
  padding-right: 50vw;
  margin-bottom: 5vh;
}

.feature-card-header {
  width: 10vw;
  align-content: left;
  margin-left: -3vw;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.features-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.image_upload_button_disable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border: none;
  background-color: #ffffff;
  cursor: not-allowed;
}

.file_upload__image_wrapper {
  border: 2px dashed !important;
  border-color: rgb(209 213 219) !important;
  display: flex !important;
  flex-direction: column !important;
  height: 20rem !important;
  background-color: transparent !important;
  /* width: 68% !important; */
  margin: 10px auto !important;
  justify-content: center !important;
  background-color: #ffffff !important;
  align-items: center;
  border-radius: 4px;
}
.file_upload_image_container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.8 !important;
}

.swiper-slide {
  opacity: 0.2;
}

.swiper-slide-active {
  opacity: 1 !important;
}
.slick-dots {
  bottom: -4rem !important;
}

.swiper-slider-styles {
  width: 95vw;
  height: 33rem;
}

.rdrDefinedRangesWrapper {
  display : none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
}

@media only screen and (max-width: 1024px) {
  .swiper-slider-styles {
    width: 100vw;
    height: 33rem;
  }
}

.pricing-icon {
  list-style-image: url(/images/landing/check.png);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Adjust as needed */
  background-color: var(--gray-50, #f9fafb); /* Adjust the opacity as needed */
  z-index: 1;
  transition: transform 3s ease-in-out; /* Smoother transition with ease-in-out */
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(100%);
}

@media only screen and (max-width: 600px) {
  .feature-card-header {
    align-content: center;
    margin-left: none;
    width: max-content;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .faq-number {
    display: block;
    margin-bottom: 1rem;
  }

  .swiper-slider-styles {
    width: 100vw;
    height: 33rem;
  }
}
.pagination {
  display: flex !important;
  align-items: center !important;
  margin-top: 10px !important;
  /* background-color: #ffff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  padding: 5px 5px !important;
  border-radius: 8px !important;
  gap: 8px !important;
  list-style: none;
}
.page-link {
  font-weight: 800 !important;
  color: rgb(22 78 99) !important;
  background-color: white !important;
  padding: 0px 8px !important;
  border-radius: 6px !important;
  padding: 0px 8px !important;
  border: 2px solid rgb(203 213 225) !important;
}
.page-item.active .page-link {
  background-color: rgb(103 232 249) !important;
  border: solid 2px rgb(6 182 212) !important;
  color: rgb(22 78 99) !important;
  font-weight: bold !important;
  padding: 0px 8px !important;
  border-radius: 6px !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

/* Dropzone */
.dzu-dropzone {
  height: 14rem;
  border-style: dashed !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  align-items: end !important;
  /* justify-content: space-between; */
  padding: 20px !important;
}
div progress {
  border-radius: 10px !important;
  overflow: hidden !important;
  background-color: red !important;
}
.dzu-inputLabel {
  padding: 60px !important;
  text-align: center;
  color: black !important;
  font-weight: 500 !important;
  font-size: 16px !important;
}
.dzu-submitButton {
  background-color: #1a5ca4 !important;
  font-weight: 600 !important;
  padding: 8px 18px !important;
  border-radius: 5px !important;
}

.dzu-submitButton:disabled {
  background-color: #e6e6e6 !important;
  color: #333333 !important;
}

/* vimeo */
.Title_module_title__1f69cee0
  .Title_module_header__1f69cee0
  .Title_module_headers__1f69cee0 {
  display: none !important;
}
.Title_module_subtitleLink__1f69cee0 {
  display: none !important;
}
.Title_module_headers__1f69cee0 > a {
  display: none !important;
}
.Title_module_title__1f69cee0 .Title_module_header__1f69cee0 {
  display: none !important;
}
.Title_module_title__1f69cee0 {
  display: none !important;
}
.SideDock_module_root__07ab40b6 {
  display: none;
}
.player ::after .vp-controls-wrapper {
  display: none !important;
}
.Text_module_bpxxs_fontmd__751cabd6 {
  display: none !important;
}
.ControlBar_module_controlBarWrapper__1988764d :globally {
  display: none !important;
}
